/* .ActivityPage{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
} */

/* 0e9aa7 3da4ab f6cd61 fe8a71 */

.ActivityBox{
    background-color: #98bce2;
    /* background-color: #3784d6; */
    margin: 0 auto;
    width: 300px;
    height: 200px;
    position: relative;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}