.user-box{
    background-color: rgb(227, 202, 240);
    margin: 0 auto 20px;
    
    width: 300px;
    height: 200px;
    text-align: center;
    /* position: relative; */
    border-radius: 10px;
    /* display: flex; */
}