.user-box{
    background-color: rgb(227, 202, 240);
    margin: 0 auto ;
    /* margin: 0 auto 20px; */
    
    width: 300px;
    height: 350px;
    text-align: center;
    /* position: relative; */
    border-radius: 10px;
    /* display: flex; */
}

/* .user-page-layout{
    margin: 0 auto 20px;
    display: flex;
} */

.user-buttons{
    height: 50px;
    border-radius: 5px;
    border: none;
    margin: 20px 0 0 20px;
    transition: 0.3s;
    
}
.user-buttons:hover{
    background: chocolate;
    
}