.all-activities{
    /* display: flex; */
}
.activity-box{
    background-color: rgb(227, 202, 240);
    margin: 0 auto 20px;
    
    width: 400px;
    height: 200px;
    text-align: center;
    /* position: relative; */
    border-radius: 10px;
    /* display: flex; */
}

.activity-box-btn{
    background: none;
    border: none;
    transition: 0.3s;
}
.activity-box-btn:hover{
    color: grey;
}
.activity-box-btn:active{
    color: white;
}