:root {
    /* --main-bg-color: cornflowerblue; */
    --main-bg-color: #e04b5a;
    /* --hover-bg-color: #155263; */
    --second-bg-color: #e49756;
    --back-bg-color: #5b305a;
    --third-bg-color: #9a4c68;

    --color1-bg-color: #eb6383;
    --color2-bg-color: #fa9191;
    --color3-bg-color: #ffe9c5;
    --color4-bg-color: #b4f2e1;
  }

/* * {
    font-family: 'Lato', sans-serif;
} */

.header{
    /* background: var(--color2-bg-color); */
    background: #eaeaea;
    height: 9vh;
    display: flex;
    justify-content: space-between;
}
/* .header li{
    
} */
.home-link{
    color: var(--third-bg-color);
    text-decoration: none;
    margin: auto;
    text-align: center;
    transition: 0.5s;
}
.home-link:hover{
    /* font-weight: 500; */
    color: var(--color1-bg-color);
}

.header-link{
    list-style: none;
    text-decoration: none;
}

.LoginRegister{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.LoginRegister li{
    margin-left: 10px;
}