.calendar {
    box-sizing: border-box;
    font-size: 1rem;
    max-width: 400px;
  }
  
  .calendar .header {
    background-color: lightskyblue;
    text-align: center;
    min-height: 2rem;
    line-height: 2rem;
    color: black;
    font-family: var(--font-book);
    font-weight: 700;
    display: flex;
  }
  
  .calendar .day-names {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
  }
  
  .calendar .body {
    border: 1px solid lightskyblue;
  }
  
  .calendar .header .previous {
    flex: 1;
    text-align: left;
    margin-left: 1rem;
  }
  
  .calendar .header .next {
    flex: 1;
    text-align: right;
    margin-right: 1rem;
  }
  
  .calendar .week {
    background-color: white;
    width: calc(100% / 7);
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
  }
  .calendar .week div {
    width: 100%;
  }
  
  .calendar .day {
    position: relative;
    width: calc(100% / 7);
    height: 44px;
    display: inline-block;
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
  }
  
  .calendar .day div {
    width: 54px;
    height: 44px;
    position: relative;
    color: black;
    z-index: 100;
    line-height: 44px;
    /* border: black 1px solid; */
  }
  /* .calendar .day div:hover {
    border: rgb(80, 78, 78) 1px solid;
  } */
  
  .calendar .day div.before {
    color: lightgray;
  }
  
  .calendar .day div.selected {
    background-color: rgb(232, 114, 114);
    color: white;
    font-weight: bold;
  }
  
  .calendar .day div.today {
    background-color: lightgray
  }