.register-form,
.login-form{
    margin: 0 auto;
    width: 300px;
    margin-top: 20px;
    border: chocolate 1px solid;
    text-align: center;
    padding: 10px;
}
.register-form button,
.login-form button{
    background: hsl(125, 75%, 87%);
    padding: 5px;
    border-radius: 5px;
}

.logout-btn{
    border: none;
    background: none;
    font-size: 16px;
    color: var(--third-bg-color);
    transition: 0.5s;
}

.logout-btn:hover{
    color: var(--color1-bg-color);
}


